<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="text-center">
                    <h1>HM Restaurant</h1>
                    <strong>Get Free Membership</strong><hr>
                </div>
                <form>
                    <div class="form-group">
                        <div class="mb-3">
                            <label for="name">Name</label>
                            <input type="name" formControlName="name" maxlength="20" class="form-control" placeholder="HM Resto">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="mb-3">
                            <label for="mobileNumber">Mobile Number</label>
                            <input type="number" formControlName="mobileNumber" maxlength="20" class="form-control" placeholder="Your number">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="mb-3">
                            <label for="emailId">Email ID</label>
                            <input type="email" formControlName="emailId" class="form-control" placeholder="Your email">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="mb-3">
                            <label for="password">Password</label>
                            <input type="password" formControlName="password" class="form-control" placeholder="Your password">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="mb-3">
                            <label for="exampleName">Name</label>
                            <input type="name" formControlName="name" maxlength="20" class="form-control" placeholder="HM Resto">
                        </div>
                    </div>

                    <button type="submit" class="btn btn-primary">Signup</button>

                    <a style="color: rgb(245, 4, 4); margin-top:10px;" routerLink="/login">Already registred? Click here to Login</a>

                </form>
            </div>
        </div>
    </div>
</div>